<div id="challenge-container">

	<div class="close-btn">
		CLOSE
	</div>
	<div id="wrapper">
		<div id="columns">

			<div class="box">
				<div class="inner-content">
					<%= image_tag("challenge/001.jpg", :alt => "test", :class => "myImg") %>
					<p>
						Lorem ipsum dolor sit amet, consectetur.
					</p>
			    </div>
			</div>

			<div class="box">
				<div class="inner-content">
					<%= image_tag("challenge/002.jpg", :alt => "test", :class => "myImg") %>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
						Sed feugiat consectetur pellentesque. Nam ac elit risus, 
						ac.
					</p>
			    </div>
			</div>

			<div class="box">
				<div class="inner-content">
					<%= image_tag("challenge/003.jpg", :alt => "test", :class => "myImg") %>
				    <p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
						Sed feugiat consectetur pellentesque. Nam ac elit risus, 
						ac blandit dui. Duis rutrum porta.
					</p>
			    </div>
			</div>

			<div class="box">
				<div class="inner-content">
					<%= image_tag("challenge/004.jpg", :alt => "test", :class => "myImg") %>
				    <p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
						Sed feugiat consectetur pellentesque. Nam.
					</p>
			    </div>
			</div>

			<div class="box">
				<div class="inner-content">
					<%= image_tag("challenge/005.jpg", :alt => "test", :class => "myImg") %>
			    	 <p>
						Lorem.
					</p>
			    </div>
			</div>

			<div class="box">
				<div class="inner-content">
					<%= image_tag("challenge/006.jpg", :alt => "test", :class => "myImg") %>
				    <p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
						Sed feugiat consectetur pellentesque. Nam ac elit risus, 
						ac blandit dui.
					</p>
			    </div>
			</div>

			<div class="box">
				<div class="inner-content">
					<%= image_tag("challenge/007.jpg", :alt => "test", :class => "myImg") %>
				    <p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
						Sed feugiat consectetur pellentesque. Nam ac elit risus, 
						ac blandit dui. Duis rutrum.
					</p>
			    </div>
			</div>

			<div class="box">
				<div class="inner-content">
					<%= image_tag("challenge/008.jpg", :alt => "test", :class => "myImg") %>
				    <p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
						Sed feugiat consectetur pellentesque. Nam ac elit risus, 
						ac blandit dui. Duis rutrum porta tortor ut convallis.
						Duis rutrum porta tortor ut convallis.
					</p>
			    </div>
			</div>

			<div class="box">
				<div class="inner-content">
					<%= image_tag("challenge/009.jpg", :alt => "test", :class => "myImg") %>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
						Sed feugiat consectetur pellentesque. Nam ac elit risus, 
						ac blandit dui. Duis rutrum porta tortor ut convallis.
						Duis rutrum porta tortor ut convallis.
					</p>
			    </div>
			</div>

			<div class="box">
				<div class="inner-content">
					<%= image_tag("challenge/010.jpg", :alt => "test", :class => "myImg") %>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
						Sed feugiat consectetur.
					</p>
			    </div>
			</div>

			<div class="box">
				<div class="inner-content">
					<%= image_tag("challenge/011.jpg", :alt => "test", :class => "myImg") %>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
						Sed feugiat consectetur pellentesque. Nam ac elit risus, 
						ac blandit dui. Duis rutrum.
					</p>
			    </div>
			</div>

			<div class="box">
				<div class="inner-content">
					<%= image_tag("challenge/012.jpg", :alt => "test", :class => "myImg") %>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
						Sed feugiat consectetur pellentesque. Nam ac elit risus, 
						ac blandit dui. Duis.
					</p>
			    </div>
			</div>

			<div class="box">
				<div class="inner-content">
					<%= image_tag("challenge/013.jpg", :alt => "test", :class => "myImg") %>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
						Sed feugiat consectetur.
					</p>
			    </div>
			</div>

			<div class="box">
				<div class="inner-content">
					<%= image_tag("challenge/014.jpg", :alt => "test", :class => "myImg") %>
					<p>
						Lorem ipsum.
					</p>
			    </div>
			</div>

			<div class="box">
				<div class="inner-content">
					<%= image_tag("challenge/015.jpg", :alt => "test", :class => "myImg") %>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
						Sed feugiat consectetur pellentesque. Nam ac elit risus, 
						ac blandit dui. Duis rutrum.
					</p>
			    </div>
			</div>

			<div class="box">
				<div class="inner-content">
					<%= image_tag("challenge/016.jpg", :alt => "test", :class => "myImg") %>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
						Sed feugiat consectetur pellentesque. Nam ac elit risus, 
						ac blandit dui. Duis rutrum porta tortor ut convallis.
						Duis rutrum porta tortor ut convallis.
					</p>
			    </div>
			</div>

			<div class="box">
				<div class="inner-content">
					<%= image_tag("challenge/017.jpg", :alt => "test", :class => "myImg") %>
					 <p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
						Sed feugiat consectetur.
					</p>
			    </div>
			   
			</div>

			<div class="box">
				<div class="inner-content">
					<%= image_tag("challenge/018.jpg", :alt => "test", :class => "myImg") %>
					<p>
						Lorem ipsum dolor sit amet, consectetur.
					</p>
			    </div>
			</div>

			<div class="box">
				<div class="inner-content">
					<%= image_tag("challenge/019.jpg", :alt => "test", :class => "myImg") %>
					<p>
						Lorem ipsum dolor sit amet.
					</p>
			    </div>
			</div>

			<div class="box">
				<div class="inner-content">
					<%= image_tag("challenge/020.jpg", :alt => "test", :class => "myImg") %>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
						Sed feugiat consectetur pellentesque. Nam ac elit risus, 
						ac blandit dui. Duis rutrum.
					</p>
			    </div>
			</div>

			<div class="box">
				<div class="inner-content">
					<%= image_tag("challenge/021.jpg", :alt => "test", :class => "myImg") %>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
						Sed feugiat consectetur pellentesque.
					</p>
			    </div>
			</div>

			<div class="box">
				<div class="inner-content">
					<%= image_tag("challenge/022.jpg", :alt => "test", :class => "myImg") %>
					 <p>
						Lorem ipsum dolor.
					</p>
			    </div>
			</div>

			<div class="box">
				<div class="inner-content">
					<%= image_tag("challenge/023.jpg", :alt => "test", :class => "myImg") %>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
						Sed feugiat consectetur.
					</p>
			    </div>
			</div>

		</div>
	</div>

	<div class="galleria">
	    <%= image_tag("challenge/001.jpg", :alt => "Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
						Sed feugiat consectetur pellentesque. Nam ac elit risus, 
						ac.", :class => "galImg") %>
	    <%= image_tag("challenge/002.jpg", :alt => "Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
						Sed feugiat consectetur pellentesque. Nam ac elit risus, 
						ac.", :class => "galImg") %>
	    <%= image_tag("challenge/003.jpg", :alt => "Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
						Sed feugiat consectetur pellentesque. Nam ac elit risus, 
						ac.", :class => "galImg") %>
	    <%= image_tag("challenge/004.jpg", :alt => "Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
						Sed feugiat consectetur pellentesque. Nam ac elit risus, 
						ac.", :class => "galImg") %>
	    <%= image_tag("challenge/005.jpg", :alt => "Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
						Sed feugiat consectetur pellentesque. Nam ac elit risus, 
						ac.", :class => "galImg") %>
	    <%= image_tag("challenge/006.jpg", :alt => "Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
						Sed feugiat consectetur pellentesque. Nam ac elit risus, 
						ac.", :class => "galImg") %>
	    <%= image_tag("challenge/007.jpg", :alt => "Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
						Sed feugiat consectetur pellentesque. Nam ac elit risus, 
						ac.", :class => "galImg") %>
	    <%= image_tag("challenge/008.jpg", :alt => "Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
						Sed feugiat consectetur pellentesque. Nam ac elit risus, 
						ac.", :class => "galImg") %>
	    <%= image_tag("challenge/009.jpg", :alt => "Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
						Sed feugiat consectetur pellentesque. Nam ac elit risus, 
						ac.", :class => "galImg") %>
	    <%= image_tag("challenge/010.jpg", :alt => "Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
						Sed feugiat consectetur pellentesque. Nam ac elit risus, 
						ac.", :class => "galImg") %>
	    <%= image_tag("challenge/011.jpg", :alt => "Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
						Sed feugiat consectetur pellentesque. Nam ac elit risus, 
						ac.", :class => "galImg") %>
	    <%= image_tag("challenge/012.jpg", :alt => "Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
						Sed feugiat consectetur pellentesque. Nam ac elit risus, 
						ac.", :class => "galImg") %>
	    <%= image_tag("challenge/013.jpg", :alt => "Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
						Sed feugiat consectetur pellentesque. Nam ac elit risus, 
						ac.", :class => "galImg") %>
	    <%= image_tag("challenge/014.jpg", :alt => "Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
						Sed feugiat consectetur pellentesque. Nam ac elit risus, 
						ac.", :class => "galImg") %>
	    <%= image_tag("challenge/015.jpg", :alt => "Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
						Sed feugiat consectetur pellentesque. Nam ac elit risus, 
						ac.", :class => "galImg") %>
	    <%= image_tag("challenge/016.jpg", :alt => "Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
						Sed feugiat consectetur pellentesque. Nam ac elit risus, 
						ac.", :class => "galImg") %>
	    <%= image_tag("challenge/017.jpg", :alt => "Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
						Sed feugiat consectetur pellentesque. Nam ac elit risus, 
						ac.", :class => "galImg") %>
	    <%= image_tag("challenge/018.jpg", :alt => "Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
						Sed feugiat consectetur pellentesque. Nam ac elit risus, 
						ac.", :class => "galImg") %>
	    <%= image_tag("challenge/019.jpg", :alt => "Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
						Sed feugiat consectetur pellentesque. Nam ac elit risus, 
						ac.", :class => "galImg") %>
	    <%= image_tag("challenge/020.jpg", :alt => "Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
						Sed feugiat consectetur pellentesque. Nam ac elit risus, 
						ac.", :class => "galImg") %>
	    <%= image_tag("challenge/021.jpg", :alt => "Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
						Sed feugiat consectetur pellentesque. Nam ac elit risus, 
						ac.", :class => "galImg") %>
	    <%= image_tag("challenge/022.jpg", :alt => "Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
						Sed feugiat consectetur pellentesque. Nam ac elit risus, 
						ac.", :class => "galImg") %>
	    <%= image_tag("challenge/023.jpg", :alt => "Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
						Sed feugiat consectetur pellentesque. Nam ac elit risus, 
						ac.", :class => "galImg") %>
	</div>

	<script>

		$(".myImg").click(function() {
			$(".galleria").css("display", "inline");

			Galleria.loadTheme("<%= javascript_path('galleria.classic.js') %>");
			Galleria.run('.galleria', {
    			height: 0.5625
			});

			$(".box").css("opacity", "0.15");
			$(".close-btn").css("display", "inline")

			$(".close-btn").click(function() {
				location.reload(true);
			});
		});

	</script>
</div>