.connection-bar#connection
  .connection-bar-content
    .connection-icons
      %a.connection-icon.fb-icon{:href => "https://twitter.com/lrnwytt", :target => "_blank"}
        %i.fa.fa-twitter-square
      %a.connection-icon.ln-icon{:href => "https://www.linkedin.com/pub/lauren-wyatt/62/ab2/3ab", :target => "_blank"}
        %i.fa.fa-linkedin-square
      %a.connection-icon.angel-icon{:href => "https://angel.co/lrnwytt", :target => "_blank"}
        %i.fa.fa-user
      %a.connection-icon.mail-icon{:href => "mailto:lrnwytt@gmail.com?Subject="}
        %i.fa.fa-envelope

.navbar.navbar-default{:role => "navigation"}
  .container
    .navbar-header
      %a.navbar-brand{:href => "#"} lauren wyatt.
    .navbar-collapse.collapse{:style => "height: 1px;"}
      %ul.nav.navbar-nav.navbar-right
        %li
          %a.item.home{:href => "#connection"} Home
        %li
          %a.item.about{:href => "#about"} About
        %li
          %a.item.resume{:href => "#resume"} R&eacute;sum&eacute;
        / %li
        /   %a.item.contact{:href => "#contact"} Contact

.banner#banner
  .banner-container
    .frost-container
      .frost
        .text-one
          Don't dream of success.
          .divider
          .text-two
            Wake up and work for it.

.about-section#about
  .container
    .about-text
      %h1
        about.
      %h3
        Art is my hobby. Technology is my passion.
      %p
        5+ years programming experience with a strong focus on front end development and some experience in back end development. Passionate about and strongest with the Ruby on Rails framework.

.recent-works#recent
  .container
    .recent-text
      %h1
        recent works.
      %p
        I have worked with people from all over the united states on a variety of projects, both print and digital.
        <br>Though I am well versed in graphic design, my main focus is on web application development.
    .container

      / eightydays
      .col-md-4.col-centered.flip
        .card
          .face.front
            =image_tag('eightydays.jpg')
          .face.back
            .container
              %h3
                EightyDays
              %p
                Personal project that ties in location data to generate a list of destinations that fit the user the best. front end and back end development with Ruby on Rails.
      / vybe
      .col-md-4.col-centered.flip
        .card
          .face.front
            =image_tag('vybe.jpg')
          .face.back
            .container
              %h3
                Vybe
              %p
                Unlimited recommendation network built with Ruby on Rails. Some back end development as well as testing and design.
      / hackathon
      .col-md-4.col-centered.flip
        .card
          .face.front
            =image_tag('hackathon.jpg')
          .face.back
            .container
              %h3
                HackVT Student Winning Application
              %p
                Saul Costa, Ryan Knight, Lauren Wyatt. 24 hour hackathon project organizing VT crime statistics
      / KBEVS
      .col-md-4.col-centered.flip
        .card
          .face.front
            =image_tag('kbevs.jpg')
          .face.back
            .container
              %h3
                Xbox Kinect Project
              %p
                C# project using Xbox Kinect to detect micro expressions and other non-verbal cues
      / iPhone
      .col-md-4.col-centered.flip
        .card
          .face.front
            =image_tag('iphone.jpg')
          .face.back
            .container
              %h3
                Mobile Design
              %p
                App design and responsive web design for mobile on all platforms for various companies.
      / business card
      .col-md-4.col-centered.flip
        .card
          .face.front
            =image_tag('business.jpg')
          .face.back
            .container
              %h3
                Print Design
              %p
                Business cards, flyers, and letterheads for various companies.

.resume#resume
  .container
    .resume-text
      %h1
        r&eacute;sum&eacute;.
      %p
        If you are interested in seeing my r&eacute;sum&eacute;, it can be downloaded from the following link:
      = link_to asset_path("lwyatt.pdf"), :class => "button", :download => "LaurenWyatt-resume.pdf" do
        [download]


/ .contact#contact
/   .container
/     .col-md-6
/     .col-md-6

.footer
  .container
    %h4
      Thank you for visiting! Feel free to contact me via the links below.
      </br>&ndash; Lauren Wyatt
    .connection-icons
      %a.connection-icon.fb-icon{:href => "https://twitter.com/lrnwytt", :target => "_blank"}
        %i.fa.fa-twitter-square
      %a.connection-icon.ln-icon{:href => "https://www.linkedin.com/pub/lauren-wyatt/62/ab2/3ab", :target => "_blank"}
        %i.fa.fa-linkedin-square
      %a.connection-icon.angel-icon{:href => "https://angel.co/lrnwytt", :target => "_blank"}
        %i.fa.fa-user
      %a.connection-icon.mail-icon{:href => "mailto:lrnwytt@gmail.com?Subject="}
        %i.fa.fa-envelope
