#challenge-container
{
	min-height: 100%;
	background: #f6f6f4;
}

#wrapper 
{
	max-width: 90%;
	margin: 0px auto;
}

#columns 
{
	-webkit-column-count: 3;
	-webkit-column-gap: 10px;
	-webkit-column-fill: auto;
	-moz-column-count: 3;
	-moz-column-gap: 10px;
	-moz-column-fill: auto;
	column-count: 3;
	column-gap: 15px;
	column-fill: auto;
	padding-top: 25px;
	width: 100%;
}

.inner-content 
{
	display: inline-block;
	background: #FEFEFE;
	border: 2px solid #FAFAFA;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 2px 15px;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	padding: 15px;
	padding-bottom: 5px;
	background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
	opacity: 1;
}

.inner-content img 
{
	width: 100%;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 5px;
}

.inner-content p 
{
	font: 12px/18px Arial, sans-serif;
	color: #333;
	margin: 0;
}

#columns:hover .pin:not(:hover) 
{
	opacity: 0.4;
}

.galleria
{ 
	position: fixed;
	margin: auto;
  	top: 0;
  	left: 0;
  	bottom: 0;
  	right: 0;
    z-index: 500;
	width: 80%; 
	max-height: 80%; 
	background: #e7e0dc;
	display: none;
}

.gallery_demo {
  padding-left: 80px;
  width: auto;
}

.galleria-thumbnails
{ 
	margin: 0 auto;
}

.close-btn
{
	float: right;
	display: none;
}

@media only screen and (max-width : 480px) {
   #columns 
	{
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
		-moz-column-width: 90%;
		-webkit-column-width: 90%;
		column-width: 90%;
	}
}
@media only screen and (max-width : 820px) and (min-width : 481px) {
   #columns 
	{
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
		-moz-column-width: 90%;
		-webkit-column-width: 90%;
		column-width: 90%;
	}
}
@media only screen and (max-width : 1050px) and (min-width : 651px) {
   #columns 
	{
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
		-moz-column-width: 90%;
		-webkit-column-width: 90%;
		column-width: 90%;
	}
}
@media only screen and (max-width : 1290px) and (min-width : 1051px) {
   #columns 
	{
		-webkit-column-count: 4;
		-moz-column-count: 4;
		column-count: 4;
		-moz-column-width: 90%;
		-webkit-column-width: 90%;
		column-width: 90%;
	}
}