@import "media-queries";
// https://github.com/paranoida/sass-mediaqueries-rails

$text-one-size: 60px;
$text-two-size: 50px;

// Contacts
.connection-bar#connection {
	height: 30px;
	background: #f8f8f8;
	border-bottom: solid 1px #e7e7e7;
	.connection-bar-content {
		width: 98%;
		padding-top: 1px;
		.connection-icons {
			float: right;
			.connection-icon {
				color: #636363;
				font-size: 20px;
				padding-right: 5px;
        padding-left: 5px;
				&:hover {
					text-decoration: none;
      		color: #bbd681;
      	}
			}
		}
	}
}

// tabs
.navbar.navbar-default {
	background-color: #fff;
	border-width: 8px;
	border-radius: 0px;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom-color: #bbd681;
  min-height: 80px;
	margin: 0px;
	.container {
    margin-top: 10px;
		.navbar-header {
			.navbar-toggle.collapsed {
			}
			.navbar-brand {
				font-weight: 700;
        font-size: 30px;
        color: #5f655f;
        &:hover {
          color: #bbd681;
        }
			}
		}
    .navbar-collapse.collapse {
      .nav.navbar-nav.navbar-right {
        .item {
          font-weight: 400;
          font-size: 20px;
          color: #636363;
          &:hover {
            color: #bbd681;
          }
        }
      }
    }
	}
}

// banner
.banner#banner {
	width: 100%;
	.banner-container {
		height: 500px;
		// margin-left: -200px;
		background-image: url(image_path('001.jpg'));
		background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    @include screen(320px, 550px)  {
      height: 300px;
    }
    @include screen(551px, 991px)  {
      height: 300px;
    }
    .frost-container {
    	margin: 0 auto;
    	padding-top: 120px;
    	width: 90%;
      @include screen(320px, 550px)  {
        padding-top: 75px;
      }
      @include screen(551px, 991px)  {
        padding-top: 75px;
      }
    	.frost {
	    	margin: 0 auto;
		    background-image: url(image_path('001-blur.jpg'));
		    background-repeat: no-repeat;
		    background-attachment: fixed;
        background-size: cover;
		    border-top: 3px solid rgba(255, 255, 255, 0.8);
		    border-bottom: 3px solid rgba(255, 255, 255, 0.8);
		    width: 100%;
		    height: 250px;
		    border-radius: 0px;
		    -webkit-box-shadow: 2px 2px 11px 1px rgba(0, 0, 0, 0.2);
  			-moz-box-shadow:    2px 2px 11px 1px rgba(0, 0, 0, 0.2);
  			box-shadow:         2px 2px 11px 1px rgba(0, 0, 0, 0.2);
  			display: table;
        @include screen(320px, 550px)  {
          height: 150px;
        }
        @include screen(551px, 991px)  {
          height: 150px;
        }
		    .text-one {
		    	display: table-cell;
		    	vertical-align: middle;
					font-weight: 700;
					font-size: 60px;
					color: white;
					text-align: center;
					margin: 0 auto;
					@include screen(320px, 550px)  {
						font-size: $text-one-size * .4;
					}
					@include screen(551px, 991px)  {
						font-size: $text-one-size * .7;
					}
					@include screen(992px, 1199px)  {
						font-size: $text-one-size * .7;
					}
					.divider {
						margin: 0 auto;
						width: 80%;
						height: 0px;
						border-top: 2px solid #fff;
						@include screen(320px, 550px)  {
							width: 90%;
						}
						@include screen(551px, 991px)  {
							width: 90%;
						}
						@include screen(992px, 1199px)  {
							font-size: $text-two-size * .7;
						}
					}
					.text-two {
						font-weight: 400;
						font-size: $text-two-size;
						color: white;
						text-align: center;
						@include screen(320px, 550px)  {
							font-size: $text-two-size * .4;
						}
						@include screen(551px, 991px)  {
							font-size: $text-two-size * .7;
						}
						@include screen(992px, 1199px)  {
							font-size: $text-two-size * .7;
						}
					}
		    }
	    }
		}
	}
}

// about
.about-section#about {
  border-top: solid 2px #e7e7e7;
  .container {
    width: 70%;
    .about-text {
      text-align: center;
      h1 {
        margin-top: 35px;
        color: #bbd681;
        font-weight: 700;
      }
      h3 {
        margin-top: 5px;
        color: #636363;
        font-weight: 300;
      }
      p {
        margin: 15px 0px 40px 0px;
        font-size: 16px;
        color: #636363;
        font-weight: 100;
      }
    }
  }
}

.recent-works#recent {
  border-top: solid 2px #e7e7e7;
  background: #f8f8f8;
	.container {
    padding-bottom: 40px;
		.recent-text {
      text-align: center;
  		h1 {
        margin-top: 35px;
        color: #bbd681;
        font-weight: 700;
  		}
  		p {
        margin: 25px 0px 40px 0px;
        font-size: 16px;
        color: #636363;
        font-weight: 100;
  		}
		}
    .container {
      padding: 0px;
      .col-md-4.col-centered.flip {
        -webkit-perspective: 800;
        -moz-perspective: 800;
        -ms-perspective: 800;
        -o-perspective: 800;
        perspective: 800;
        width: 370px;
        height: 200px;
        position: relative;
        margin: 0px auto;
        margin-bottom: 10px;
        margin-top: 5px;
        margin-right: 0px;
        margin-left: 0px;
        @include screen(320px, 1199px)  {
          float: none;
          margin: 0 auto;
          margin-bottom: 15px;
        }
        .card {
          width: 100%;
          height: 100%;
          -webkit-transform-style: preserve-3d;
          -webkit-transition: 1s;
          -moz-transform-style: preserve-3d;
          -moz-transition: 1s;
          -ms-transform-style: preserve-3d;
          -ms-transition: 1s;
          -o-transform-style: preserve-3d;
          -o-transition: 1s;
          transform-style: preserve-3d;
          transition: 1s;
          &.flipped {
            -webkit-transform: rotatex(-180deg);
            -moz-transform: rotatex(-180deg);
            -ms-transform: rotatex(-180deg);
            -o-transform: rotatex(-180deg);
            transform: rotatex(-180deg);
          }
          .face {
            width: 100%;
            height: 100%;
            position: absolute;
            -webkit-backface-visibility: hidden;
            -moz-backface-visibility: hidden;
            -ms-backface-visibility: hidden;
            -o-backface-visibility: hidden;
            backface-visibility: hidden;
            z-index: 2;
            font-size: 3em;
            text-align: center;
            line-height: 200px;
          }
          .front {
            position: absolute;
            z-index: 1;
            cursor: pointer;
          }
          .back {
            -webkit-transform: rotatex(-180deg);
            -moz-transform: rotatex(-180deg);
            -ms-transform: rotatex(-180deg);
            -o-transform: rotatex(-180deg);
            transform: rotatex(-180deg);
            color: #ffffff;
            background: #bbd681;
            cursor: pointer;
            .container {
              width: 60%;
              h3 {
                font-size: 20px;
                font-weight: 600;
                padding: 0px;
                margin: 50px 0px 15px 0px;
              }
              p {
                font-size: 14px;
                font-weight: 300;
                padding: 0px;
                margin: 0px;
                line-height: 16px;
              }
            }
          }
        }
      }
		}
	}
}

.resume#resume {
  border-top: solid 2px #e7e7e7;
  .container {
    .resume-text {
      text-align: center;
      h1 {
        margin-top: 35px;
        color: #bbd681;
        font-weight: 700;
      }
      p {
        margin: 5px 0px 0px 0px;
        font-size: 16px;
        color: #636363;
        font-weight: 100;
      }
      .button {
        text-indent: 0;
        display: inline-block;
        color: #636363;
        font-size: 25px;
        text-decoration: none;
        margin: 25px 0px 40px 0px;
        &:hover {
          color: #bbd681;
        }
      }
    }
  }
}

.contact#contact {
  border-top: solid 2px #e7e7e7;
  background: #f8f8f8;
  height: 200px;
  .container {
    .col-md-6 {
      height: 20px;
      background: red;
      border: solid 4px orange;
    }
  }
}

.footer {
  border-top: solid 2px #ffffff;
  background: #bbd681;
  height: 200px;
  .container {
    margin-top: 30px;
    text-align: center;
    h4 {
      color: #ffffff;
    }
    a {
      color: #ffffff;
      font-size: 40px;
      &:hover {
        text-decoration: none;
      }
    }
  }
}


// /* Extra Small devices (mobiles, 320px and up) */
// @media only (min-width: 320px) and (max-width: 767px) {}

// /* Small devices (tablets, 768px and up) */
// @media only (min-width: 768px) and (max-width: 991px) {}

// Medium devices (desktops, 992px and up)
// @media only (min-width: 992px) and (max-width: 1199px) {}

// /* Large devices (large desktops, 1200px and up) */
// @media only (min-width: 1200px) and (max-width: 1920px;) {}