!!!
%html
  %head
    %title Lauren Wyatt
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    = favicon_link_tag 'favicon.png'
    / <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    %link{:href => "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", :rel => "stylesheet"}
      %link{:href => "http://fonts.googleapis.com/css?family=Oxygen:400,300,700", :rel => "stylesheet", :type => "text/css"}
        %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}
  %body
    = yield

= render 'layouts/analytics'
